<head>
<style>
@import url('https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
</style>

</head>
<nav>
    <%= link_to "Doaki", root_path, :class => "logo nav-buttons" %>
    <div>
        <input type="text" placeholder="O que voce quer?" class="nav-search"></input>
        <button class="nav-button-search"></button>
        <ul class="nav-buttons-list">
            <%= button_to "HOME", root_path, form_class: "form-button-pages", :class => "nav-buttons nav-page-buttons", :method => :get %>
            <span class="separate">&nbsp</span>
            <%= button_to "SOBRE", about_path, form_class: "form-button-pages", :class => "nav-buttons nav-page-buttons", :method => :get %>
        </ul>
        <%= button_to "DOAR", new_donation_path, form_class: "form-button", :class => "donation-button", :method => :get%>
    </div>
</nav>