<nav>
    <%= link_to "Donate", home_index_path, :class => "logo nav-buttons" %>
    <ul class="nav-buttons-list">
        <%= button_to "HOME", home_index_path, :class => "nav-buttons nav-page-buttons", :method => :get %>
    </ul>
</nav>