<%= render partial: "shared/nav" %>

<h1 class="form-title">Crie sua Doacao</h1>

<%= render 'form', donation: @donation %>

<div class="div-back-button">
	<%= link_to 'Back', donations_path , class: "link-back"%>
</div>