<%= render partial: "shared/nav" %>

<% if current_user %>
	<%= render 'form', donation: @donation %>
<% else %>
	<div class="not-logged-cont">
		<h1 class="not-logged-msg">Faça seu login primeiro!</h1>
		<div class="not-logged-buttons">
			<%= link_to "Sign Up", signup_path, :class => "not-logged-button" %>
			<%= link_to "Login", login_path, :class => "not-logged-button" %>
		</div>
	</div>
<% end %>