:root {
  --main-color: #1D84B5; 
  --main-white: #F6F6FF;
}

.donation-description {
	height: 100%;
	overflow-y: auto;
	text-overflow: ellipsis;
	margin-top: 0;
	margin-bottom: 0;
	width: 100%;
	overflow: auto;
	word-wrap: break-word;
}
.donation-text {
	height: 70%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.donation-title {
	margin-top: 0.7rem;
	margin-bottom: 0.7rem;
	height: 30%;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.donation-list {
	width: 100%;
	margin: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	font-family: 'Montserrat', sans-serif;
	justify-content: space-around;
	margin-top: 2rem;
}

.donation-each {
	width: 20rem;
	height: 23rem;
	padding: 1rem;
	margin: 1em;
	border: solid 0.1rem var(--main-color);
	border-radius: 0.3rem;
	display: flex;
	flex-direction: column;
	box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
}

.donation-each:hover {
	background-color: #d9d9df;
}

.donation-image-container {
	width: 100%;
	height: 50%;
	display: flex;
	justify-content: center;
}

.donation-image {
	height: 100%;
	width: 100%;
	border-radius: 0.5rem;
}

.donation-no-image {
	height: 100%;
}




