:root {
  --main-color: #1D84B5; 
  --main-white: #F6F6FF;
}

.home-title {
	font-family: 'Montserrat', sans-serif;
	color: rgb(68, 68, 68);
	text-align: center;
	font-size: 3rem;
	margin: 1rem 0 1rem 0;
}

.donation-list {
	width: 100%;
	margin: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	font-family: 'Montserrat', sans-serif;
	justify-content: space-around;
	margin-bottom: 2rem;
}

.no-donations-home {
	font-size: 1.5rem;
	font-family: 'Montserrat', sans-serif;
	margin: 0.5rem 0;
	color: #9e9e9e;
}

.donation-each {
	width: 15rem;
    height: 20rem;
	padding: 1rem;
	background-color: white;
	border-radius: 0.3rem;
	display: flex;
	flex-direction: column;
	box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
}

.donation-each:hover {
	background-color: #e4e4e4;
}

.donation-image-container {
	width: 100%;
	height: 50%;
	display: flex;
	justify-content: center;
}

.donation-image {
	height: 100%;
	width: 100%;
	border-radius: 0.5rem;
}

.donation-no-image {
	height: 100%;
}

.donation-text {
	height: 70%;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.donation-title {
	margin: 0.4rem 0 0.4rem 0;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: black;
}

.donation-description {
	height: 70%;
	overflow-y: auto;
	width: 100%;
	word-wrap: break-word;
	color: black;
}

.donation-description p {
	margin: 0;
}

.home-info {
	padding: 0 1rem 1rem 1rem;
	margin-bottom: 0.5rem;
}

.home-info h2 {
	font-family: 'Montserrat', sans-serif;
	margin: 0.5rem 0;
}

.home-info p {
	font-family: 'Montserrat', sans-serif;
	margin: 0 5rem 1rem 0;
	font-style: italic;
}