:root {
  --main-color: #1D84B5; 
  /* --main-color: #176087; */
}

nav {
    background-color: var(--main-color);
    height: 6em;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
    font-weight: bold;
    justify-content: flex-start;
}

.logo {
    font-family: 'ZCOOL KuaiLe', cursive;
    color: #F6F6FF;
    font-size: 35px;
    text-decoration:none;
    margin-left: 10%;
    margin-right: 0;
}

.nav-buttons {
    color: #F6F6FF;
    text-decoration:none;

}

.nav-buttons:hover {
    cursor: pointer;
    color: #F6F6FF;
    background-color: transparent;
}

.nav-buttons:active {
    color: white;
}

.nav-buttons:visited {
    color: #F6F6FF;
    
}

.nav-page-buttons {
    background-color: transparent;
    outline: none;
    border: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 13px;
    display: inline-block;
    height: 6em;
    width: 75px;
    transition: color 0.5s, background-color 0.5s;

}

.nav-page-buttons:hover {
    color: var(--main-color);
    background-color: #F6F6FF;
    cursor: pointer;
}

.separate {
    color: #F6F6FF;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    border-left: solid white 1px;
    height: 20px;
    margin: 0px 10px 0px 10px;
}

#profile {
    /* justify-self: flex-end; */
}


.nav-buttons-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin-left: 2em;
}


.donation-button {
    display: block;
    cursor: pointer;
    background-color: #F6F6FF;
    color: var(--main-color);
    outline: none;
    border-radius: 3.5px;
    border: none;
    height: 50px;
    font-weight: bold;
    font-style: none;
    font-size: 20px;
    padding-left: 40px;
    padding-right: 40px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;

}

.form-button-pages {
    color: red;
}

.form-button {
    margin-left: auto;
    margin-right: 2em;
}
