:root {
  --main-color: #1D84B5; 
  --main-white: #F6F6FF;
}

.form-button {
    margin-top: auto;
    margin-bottom: auto;
}

nav {
    background-color: var(--main-color);
    background-image: linear-gradient(to top, #1d84b5, #288dbd, #3295c5, #3b9ece, #44a7d6);
    height: 5.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 2.5rem;
    font-weight: bold;
    -webkit-box-shadow: 0px 7px 62px -16px rgba(0,0,0,0.68);
    -moz-box-shadow: 0px 7px 62px -16px rgba(0,0,0,0.68);
    box-shadow: 0px 7px 62px -16px rgba(0,0,0,0.68);

}

nav div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 100%;
}

.logo {
    font-family: 'ZCOOL KuaiLe', cursive;
    color: var(--main-white);
    font-size: 2.4rem;
    text-decoration:none;
    margin-left: 3.5rem;
    margin-right: 0;
}

.logo:hover {
    cursor: pointer;
    color: var(--main-white);
    background-color: transparent;

}

.logo:active {
    color: var(--main-white);
}

.logo:visited {
    color: var(--main-white);
}

    
.nav-buttons {
    background-color: transparent;
    outline: none;
    display: block;
    border: none;
    color: var(--main-white);
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 0.8rem;
    display: inline-block;
    width: 4.8rem;
    transition: color 0.5s, background-color 0.5s;
    height: 5.5rem;
    text-align: center;
    text-decoration: none;
    line-height: 5.5rem;
}

.logged-options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* width: 20rem; */
    
}

.nav-buttons:visited {
    color: var(--main-white);
}

.nav-buttons:hover {
    color: var(--main-color);
    background-color: var(--main-white);
    cursor: pointer;
}

.separate {
    color: var(--main-white);
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    border-left: solid white 0.1rem;
    height: 1.5rem;
    margin: 0rem 1rem 0rem 1rem;
}

.nav-buttons-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    height: 100%;
    margin-left: 9rem;
}


.donation-button {
    display: block;
    cursor: pointer;
    background-color: var(--main-white);
    color: var(--main-color);
    font-family: 'Montserrat', sans-serif;
    outline: none;
    border-radius: 0.3rem;
    border: none;
    height: 3.1rem;
    font-weight: bold;
    font-style: none;
    font-size: 1.3rem;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
    text-decoration: none;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-48 { font-size: 48px; }


.profile-icon {
    color: var(--main-white);
    box-sizing: border-box;
    margin-left: auto;
    margin: 0;
    cursor: pointer;

}

.profile-icon:hover {
    color: var(--main-color);
    margin-left: auto;
}

#teste {
    border-radius: 50%;
    box-sizing: border-box;
    height: 36px;
    padding: 0;
}

#teste:hover {
    transition: background-color 0.5s;    
    background-color: var(--main-white);
}

.nav-search {
    font-family: 'Montserrat', sans-serif;
    height: 40px;
    width: 30rem;
    margin-left: 8rem;
    padding: 0.8rem;
    border-radius: 0.3rem 0 0 0.3rem;
    border-style: none;
    margin-top: auto;
    margin-bottom: auto;
    background-color: var(--main-white);
}

.nav-button-search {
    width: 2rem;
    height: 40px;
    margin-top: auto;
    margin-left: 0;
    margin-bottom: auto;
    border-radius: 0 0.3rem 0.3rem 0;
    border-style: none;
    background-color: var(--main-white);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-button-search:focus {
    outline:none
}

.nav-button-search:hover {
    background-color: #d9d9df;
}

.search-icon {
    margin-bottom: auto;
    margin-top: auto;
    color: var(--main-color);
}