:root {
    --container-background: rgb(255, 255, 255);
    --border-radius-container: 0.3rem;
    
}

.container {
    display: flex;
    margin-top: 1rem;
    width: 95%;
    margin-left: 2rem;
    border-collapse: collapse;
    align-items: stretch;
}

.photo-container {
    background-color: var(--container-background);
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
    flex-grow: 1;
    flex-wrap: wrap;
    border-right: solid 1px #EAEBED;
    border-radius: var(--border-radius-container);
    flex-basis: 30rem;
    display: flex;
    flex-direction: row;

}

.photo {
    -webkit-box-shadow: 9px 13px 75px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 13px 75px -11px rgba(0,0,0,0.75);
    box-shadow: 9px 13px 75px -11px rgba(0,0,0,0.75);
    width: 20rem;
    height: 14rem;
    margin: 0 0 1rem 1rem;
    border-radius: 1.1rem;
    flex-grow: 1;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    
}

.container-infos {
    display: flex;
    flex-direction: column;
    font-family: 'Source Sans Pro', sans-serif;
    flex-grow: 1;
    padding-left: 3.5rem;
    padding-top: 3rem;
    background-color: var(--container-background);
    border-radius: var(--border-radius-container);
    padding-right: 1.5rem;
}

.title-donation {
    font-size: 3rem;
    margin: 0;
    margin-bottom: 1rem;
}

.infos-donation {
    margin: 0;
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
    font-style: italic;
    
}

.description {
    line-height: 1.3rem;

}