:root {
    --container-background: rgb(255, 255, 255);
    --border-radius-container: 0.3rem;
    --main-background-color: #F6F6FF;
    --main-hover-color: #34699a;
    --main-color: #1D84B5;
}

.shadow {
    -webkit-box-shadow: 9px 13px 75px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 13px 75px -11px rgba(0,0,0,0.75);
    box-shadow: 9px 13px 75px -11px rgba(0,0,0,0.75);
}

/* PAGINA SHOW DAS DOACOES */
.no-image {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    height: 22rem;
    width: 22rem;
}

.container {
    display: flex;
    margin: 1.5rem auto 0.5rem auto;
    width: 95%;
    border-collapse: collapse;
    align-items: stretch;
}

.photo-container {
    background-color: var(--container-background);
    width: 50%;
    flex-grow: 1;
    flex-wrap: wrap;
    border-right: solid 1px #EAEBED;
    border-radius: 0.3rem 0 0 0.3rem;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 27rem;  
    align-items: flex-start;
    overflow-y: auto;
    overflow-x: auto;
    margin-right: 0.2rem;

}

.photo {
    -webkit-box-shadow: 9px 13px 75px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 13px 75px -11px rgba(0,0,0,0.75);
    box-shadow: 9px 13px 75px -11px rgba(0,0,0,0.75);
    border-radius: 1.1rem;
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

.container-infos {
    display: flex;
    width: 50%;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    padding-left: 3.5rem;
    padding-top: 3rem;
    background-color: var(--container-background);
    border-radius: 0 0.3rem 0.3rem 0;
    padding-right: 1.5rem;
    height: 27rem;  
    overflow: auto;
}

.title-donation {
    font-weight: bold;
    font-size: 2rem;
    margin: 0;
    margin-bottom: 1rem;
    line-height: normal;
    font-family: 'Montserrat', sans-serif;
}

.infos-donation {
    margin: 0;
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
    font-family: 'Montserrat', sans-serif;
}

.description-title {
    margin-bottom: 0.5rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
}

.description {
    margin-top: 0;
    line-height: 1.3rem;
    font-family: 'Montserrat', sans-serif;
}

.comments-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto 2rem auto;
    width: 95%;
    border-radius: 0.3rem;
    background-color: white;
    padding: 1rem 1rem;
}

.comments-title {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    font-size: 2.8rem;
    font-family: 'Montserrat', sans-serif;
}

#comment-body {
    width: 100rem;
    display: none;   
}

textarea {
    width: 100%;
    height: 5rem;
    border-radius: 3px;
}

.create-comment {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    margin-top: 1rem;
    margin-bottom: 0;
}

.comment-input {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.comment-field {
    margin-bottom: 0.5rem;
}

.comment-field textarea {
    font-family: 'Montserrat', sans-serif;
    min-width: 100%;
    max-width: 100%;
    font-size: 0.8rem;
    height: 4rem;
}

.add-comment-field {
    margin: 0;
}

.add-comment-button {
    color: white;
    background-color: var(--main-color);
    font-family: 'Montserrat', sans-serif;
    border: none;
    padding: 0.6rem;
    border-radius: 3px;
}

.add-comment-button:hover {
    background-color: var(--main-hover-color);
}

.all-comments {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
}

.comment {
    padding: 0.8rem;
    border-radius: 5px;
    width: 100%;
    border: 0.1rem solid rgb(71, 71, 71);
}


.user-name-comment {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: rgb(71, 71, 71);
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 1rem;
}

.comment-body {
    color: rgb( 71, 71, 71);
    margin: 0 0 0.2rem 0;
}

.comment-body p {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    margin: 0;
}

.not-logged-comment-message {
    font-size: 1.3rem;
    font-family: 'Montserrat', sans-serif;
}

/* ------------------------------------------------------------------------- */
/* PAGINA SHOW DO USUARIO */

.user-show-container {
    width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.5rem auto 0 auto;
    border-radius: var(--border-radius-container);
    font-family: 'Montserrat', sans-serif;
}

.icon {
    color: var(--main-color);
    font-size: 10rem!important;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.user-show-title {
    color: var(--main-color);
    font-size: 2.5rem;
}

.information {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1rem;
    margin-top: 1rem;
}

.information div {
    text-align: center;
    margin-bottom: 0.3rem;
}

.edit-user-button {
    font-size: 1rem;
    margin-top: 1rem;
    padding: 0.6rem;
    border-radius: 0.3rem;
    text-decoration: none;
    background-color: var(--main-color);
    color: var(--main-background-color);
}

.edit-user-button:hover {
    background-color: var(--main-hover-color);
}

#separate-infos {
    border-bottom: solid 0.08rem rgb(161, 161, 161);
    margin-bottom: 1rem;
    width: 100%;
}

.user-donations {
    width: 100%;
    margin: 1rem 0 1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    font-family: 'Montserrat', sans-serif;
}

.no-donations-user {
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    margin: 0.5rem 0;
    color: #9e9e9e;
}

.user-donation-container {
    display: flex;
    flex-direction: column;
}

.user-donation {
    width: 15rem;
    height: 20rem;
    padding: 1rem;
    background-color: white;
    border-radius: 0.3rem 0.3rem 0 0;
    display: flex;
    flex-direction: column;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
}

.user-donation:hover {
    background-color: #d9d9df;
}

.us-don-image-container {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
}

.us-don-image {
    height: 100%;
    width: 100%;
    border-radius: 0.5rem;
}

.us-don-no-image {
    height: 100%;
}

.us-don-text {
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.us-don-title {
    margin: 0.4rem 0 0.4rem 0;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: black;
}

.us-don-description {
    height: 70%;
    overflow-y: auto;
    width: 100%;
    word-wrap: break-word;
    color: black;
}

.us-don-description p {
    margin: 0;
}

.us-don-text, .us-don-description-paragraph {
    color: black;
    text-decoration: none;
}

a {
    text-decoration: none;
}

.us-don-options {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.us-don-button {
    width: 50%;
    margin: 0;
    padding: 0.3rem;
    color: var(--main-background-color);
    text-align: center;
}

.button-edit {
    background-color: var(--main-color);
    border-bottom-left-radius: 0.3rem;
}

.button-edit:hover {
    background-color: var(--main-hover-color);
}

.button-delete {
    background-color: #fe4141;
    border-bottom-right-radius: 0.3rem;
}

.button-delete:hover {
    background-color: #cf3232;
}